# for security, require `direnv allow`
# when any of these files change.
#
# `require_allowed` requires direnv version >= 2.38,
# but should not cause issues on older versions of direnv
require_allowed flake.nix
require_allowed flake.lock
require_allowed .envrc.local

source_env .envrc.local
