ESPRESSO_ETH_MNEMONIC=test test test test test test test test test test test junk
ESPRESSO_DEPLOYER_ACCOUNT_INDEX=
ESPRESSO_ETH_MULTISIG_ADDRESS=
ESPRESSO_LIGHT_CLIENT_PROXY_ADDRESS=
ESPRESSO_LIGHT_CLIENT_V2_ADDRESS=
ESPRESSO_PLONK_VERIFIER_ADDRESS=
ESPRESSO_LIGHT_CLIENT_ADDRESS=
ESPRESSO_PLONK_VERIFIER_V2_ADDRESS=