[files]
extend-exclude = [
  ".env",
  "*.json",
  "**/*.pdf",
  "doc/*.svg",
  "doc/*.puml",
  "**/*.drawio",
  "contracts/lib",
  "contracts/rust/adapter/src/bindings",
  "node-metrics/src/api/node_validator/v0/example_prometheus_metrics_output.txt",
  "crates/hotshot/orchestrator/run-config.toml",
  "crates/hotshot/macros/src/lib.rs",
  "crates/hotshot/types/src/light_client.rs",
  "staking-cli/tests/cli.rs",
  "sdks/go/types/common/consts.go",
  "sequencer/src/genesis.rs",
  "data/insta_snapshots",
  "data/initial_stake_table.toml",
  "data/initial_staging_stake_table.toml",
  "data/genesis/staging.toml",
  "data/genesis/staging-proposer.toml",
  "data/genesis/staging-new.toml",
]

[default.extend-words]
Forgetten = "Forgetten"
# Common "spelling" of "type" in Rust/go
typ = "typ"
