# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, they will be requested for review when someone
# opens a pull request.

*       @sveitser @jbearer @tbro @imabdulbasit @ss-es @pls148 @bfish713 @rob-maron @lukaszrzasik

# The recorded legacy chains cannot be regenerated once legacy consensus is deleted.
data/legacy-chains/ @bfish713
