name: Slow Test

on:
  push:
    branches:
      - main
      - release-*
    tags:
      # YYYYMMDD
      - "20[0-9][0-9][0-1][0-9][0-3][0-9]*"
  schedule:
    - cron: "0 0 * * 1"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main')}}

# Build test binary with `testing` feature, which requires `hotshot_example` config
env:
  CARGO_TERM_COLOR: always
  RUST_LOG: info,libp2p=off,node=error
  NEXTEST_PROFILE: slow
  CARGO_INCREMENTAL: "0"

jobs:
  slow-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: slow-tests-sqlite
            build-cmd: just test-slow --features embedded-db --no-run
            run-cmd: just test-slow --features embedded-db --no-fail-fast
          - name: slow-tests-postgres
            build-cmd: just test-slow --no-run
            run-cmd: just test-slow --no-fail-fast
          - name: espresso-dev-node-tests
            build-cmd: just test-dev-node --no-run
            run-cmd: just test-dev-node --no-fail-fast

    name: ${{ matrix.name }}

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/free-disk-space
      - uses: foundry-rs/foundry-toolchain@v1
      - uses: taiki-e/install-action@just
      - uses: taiki-e/install-action@nextest
      - uses: rui314/setup-mold@v1

      - name: Collect Workflow Telemetry
        uses: catchpoint/workflow-telemetry-action@v2
        with:
          comment_on_pr: false

      # NOTE: no rust cache, these tests are very slow anyway

      - name: Build slow test
        run: ${{ matrix.build-cmd }}

      - name: Run slow test
        run: ${{ matrix.run-cmd }}
        timeout-minutes: 90

      - name: Show available disk space
        if: always()
        run: |
          df -h
